@keyframes page {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    25.01% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    75.01% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    /* color: rgb(73, 37, 11); */
    color: blue;
    letter-spacing: -0.03em;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* background: rgb(214, 233, 255); */
}

header {
    padding: 4rem 0 0.5rem 0;
    text-align: center;
}

header a {
    display: inline-block;
    border-bottom: 0;
}

h1,
h2 {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0;
    margin: 0;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 1;
}

h2 {
    font-size: 4.5rem;
    margin: 1.5rem 0;
}

.mono {
    font-family: monospace;
    letter-spacing: normal;
}

p {
    font-family: sans-serif;
    margin: 0;
    text-align: justify;
    line-height: 150%;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 0.125em;
}

a:hover,
a:hover *,
li:hover {
    color: rgb(79, 27, 8);
}

main {
    padding: 1rem;
}

img,
video,
.description {
    display: block;
    width: 30rem;
    max-width: 100%;
    margin: 0 auto;
}

.description {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 53rem;
    gap: 3rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    max-width: 32rem;
    margin: 0 auto;
    padding: 2.5rem 1rem 6rem 1rem;
}

footer p {
    text-align: right;
}

footer p:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    display: inline-flex;
    align-items: flex-end;
}

footer a:first-child {
    text-align: left;
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 800px) {
    .two-column {
        gap: 0;
    }

    h2 {
        font-size: 3rem;
    }

    .mobile-only {
        display: block;
    }
}